.navbar{
    margin-left: 20px;
    margin-right: 20px;
}

#search2{
    width: 700px;
    margin-left: 30px;
}

.btn{
    margin-left: 10px;
    border-radius: 8px;
}

.navbar2{
    margin: 20px;
    display: flex;

}

h6{
    margin: 10px;
}

.navbar2 select{
    font-size: 18px;
    font-weight: bolder;
    border: none;
    outline: none;
}

.header{
    margin: 40px;
}


.cards{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    text-align: center;
    margin-bottom: 50px;

}

.card-img-top{
    width: 280px;
    height: 220px;

}

.loadmore{
    display: none;
}
